@use "~bootstrap/scss/bootstrap" as *;

a {
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
//jumbotron
.jumbo-img{
    height: 300px;
    overflow: hidden;
}
//sectioncomics
.current-series-button{
    position: relative;
    top: calc(-37px / 2);
}
.box{
    height: 400px;
    background-color: transparent;
}
.box-img{
    height: 250px;
}
// banner
.icons-shop{
    color: white;
}
.icons-shop img{
    height: 50px;
    width: 50px;
}
.icons-shop  a{
    color: white;
}
// footer
footer a{
    color: grey;
}
footer h4{
    color: white;
}
footer .logo-big{
    max-width: 100%;
    transform: scale(1.3) translate(72px, 18px);
}
.footer-top{
    background-image: url("~resources/img/footer-bg.jpg");
    background-repeat: no-repeat;
}
.footer-top-left{
    flex-basis:60% ;
}
.footer-top-right{
    flex-basis: 40%;
    overflow: hidden;
}
//
.box-show{
    width: 500px;
    margin: 0 auto;
}
.show-img{
    object-fit: cover;
    height: 700px;
    width: auto;

}
